# Virtual environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
.env

# IDE settings
.vscode/
*.sublime-project
*.sublime-workspace

# Flask specific
instance/
webapp.egg-info/

# System files
.DS_Store
Thumbs.db
