body {
  background-color: #f8f9fa;
}

.container {
  max-width: 500px;
}

.btn-youtube {
  background-color: #ff0000;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.btn-youtube:hover {
  background-color: #8a0303;
}

.form-label {
  color: #333;
  font-weight: bold;
}

.bg-white-rounded {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
}